@use "../../../styles/_mixins.sass" as *

.container
  display: flex
  flex-direction: column
  gap: 1rem

  > button
    +neobrutalism

    padding: 0.5rem 1rem

    background: var(--colors-primary)

    font-weight: 600

.error
  color: var(--colors-error)

  display: flex
  justify-content: center
  align-items: center
  gap: 0.5rem
